body, html {
	padding:0px;
	margin:0px; 
	font-family:sans-serif;
	font-size:15pt;
}
#content {
	text-align:center;
}
#inner-content.disabled {
	pointer-events:none;
	opacity:0.5;
}
#map-overlay {
	pointer-events:none;
}
#map-canvas-container {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
#map-canvas {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
#map-pin {
	position:fixed;
	top:50%;
	left:50%;
	-ms-transform: translate(-50%, -50%); /* IE 9 */
	-webkit-transform: translate(-50%, -50%); /* Safari */
	transform: translate(-50%, -50%);
	width:100px;
	height:100px;
	text-align:center;
	background-image:url(images/pin.png);
	background-repeat:no-repeat;
	background-position:top;
	background-size:auto 50%;
}
#map-buttons {
	position:fixed;
	bottom:10px;
	left:0px;
	width:100%;
	text-align:center;
}
#map-buttons > button {
	pointer-events:all;
}
#header {
	width:245px;
	height:50px;
	display:inline-block;
	margin-top:50px;
	background-image:url(images/heart.png);
	background-position:left center;
	background-repeat:no-repeat;
	background-size:30px auto;
	padding-left:35px;
	text-align:left;
	line-height: 50px;
}
#steps {
	padding:0px;
	margin:0px;
	text-align:center;
	margin-top:5px;
}
#steps > li {
	position:relative;
	list-style-type: none;
	width:220px;
	margin:auto;
	margin-bottom:5px;
	padding:10px;
	color:black;
	text-align:left;
	padding-left:50px;
	border-style:solid;
	border-color:black;
	border-width:2px;
	border-radius: 2px 2px;
	background-size: auto 25px;
	background-repeat:no-repeat;
}
#steps > li.done:before {
	position:absolute;
	content:"";
	top:50%;
	-ms-transform: translate(0, -50%); /* IE 9 */
	-webkit-transform: translate(0, -50%); /* Safari */
	transform: translate(0, -50%);
	left:-30px;
	width:20px;
	height:20px;
	background-image:url(images/check.png);
	background-position:center;
	background-size:100% auto;
	background-repeat:no-repeat;
}
#steps > li.disabled {
	opacity:0.3;
}
#steps > li:nth-child(1) {
	background-image:url(images/picture.png);
	background-position:5px 6px;
}
#steps > li:nth-child(2) {
	background-image:url(images/location.png);
	background-position:13px 12px;
}
#steps > li:nth-child(3) {
	background-image:url(images/write.png);
	background-position:13px 11px;
}
button, textarea {
	border-style:solid;
	border-color:#999597;
	border-width:1px;
	background:transparent;
	color:black;
}
textarea {
	font-size:11pt;
	width:200px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    gray;
	opacity:  0.5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    gray;
	opacity:  0.5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    gray;
	opacity:  0.5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    gray;
	opacity:  0.5;
}
button {
	cursor:pointer;
	font-size:11pt;
}
button:disabled, textarea:disabled {
	opacity:0.5;
	cursor:default;
}
#map-done, #map-cancel {
	background:white;
	padding:10px;
}
#map-done {
	margin-right:10px;
}
#map-done.disabled:after {
	content: " (zoom in more)"
}
.block {
	display:block;
}
.hidden {
	display:none;
}